
@import url("fonts.css"); /* for fonts */

* {
  box-sizing: border-box;
}

body {
  padding: 20px 40px;
  font-family: sans-serif;
  background: #541526;
}

.container {
  max-width: 760px;
  margin: 0 auto;
}

.contact_title {
  font-family: "Gentium Book Basic", serif;
  font-style: italic;
  font-size: 40px;
  text-align: center;
  color: #e1c740;
}

form {
  padding: 32px;
  background: #c8c8c8; /*worn page color: #c4af86*/
  border-radius: 15px;
  margin-bottom: 50px;
}

input {
  width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border-color: #c8c8c8;
}

button {
  color: #ffffff;
  background: #8099a5; /*#0b5b85*/ /*for enabled: #2d1073*/
  font-size: medium;
  border: none;
  width: 200px;
  padding: 15px;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 5px;
}

label {
  display: block;
  margin-top: 15px;
  /*color: #e1c740;*/
}

.success_message {
  color: #e1c740;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-error {
  display: none;
  color: #c80000;
  font-size: 15px;
  margin-top: 2px;
}

.to_main {
  color: #e1c740;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}