/*
  Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/*
  font-family: "Lobster", cursive;
*/

@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital@0;1&display=swap');
/*
  font-family: "Gentium Book Basic", serif;
*/

* {
  box-sizing: border-box;
}

body {
  padding: 20px 40px;
  font-family: sans-serif;
  background: #541526;
}

.container {
  max-width: 760px;
  margin: 0 auto;
}

.contact_title {
  font-family: "Gentium Book Basic", serif;
  font-style: italic;
  font-size: 40px;
  text-align: center;
  color: #e1c740;
}

form {
  padding: 2em;
  background: #c8c8c8; /*worn page color: #c4af86*/
  border-radius: 15px;
  margin-bottom: 50px;
}

input {
  width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border-color: #c8c8c8;
}

button {
  color: #ffffff;
  background: #3c5c6d; /*#0b5b85*/ /*for enabled: #2d1073*/
  font-size: medium;
  border: none;
  width: 200px;
  padding: 15px;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 5px;
}

label {
  display: block;
  margin-top: 15px;
  /*color: #e1c740;*/
}

.form-error {
  display: none;
  color: #c80000;
  font-size: 15px;
  margin-top: 2px;
}

.to_main {
  color: #e1c740;
  font-weight: bold;
  font-size: larger;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}