
@import url("fonts.css"); /* for fonts */

body {
  background-color: #270a12;
}

.details_container {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.back {
  text-align: left;
  text-decoration: none;
  font-size: 25px;
  margin-left: 6%;
  color: #e1c740;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.specific_book_title {
  text-align: center;
  margin-bottom: 40px;
  color: #e1c740;
  font-family: "Lobster", cursive;
}

.details_image {
  height: 500px;
  background-repeat: no-repeat;
  background-size: 340px 500px;
  background-position: center;
}

.details_author {
  color: #e1c740;
  width: 340px;
  white-space: pre-line;
  margin: 10px auto 20px auto;
  font-family: "Gentium Book Basic", serif;
  font-size: larger;
}