
@import url("fonts.css"); /* for fonts */

body {
  background-color: #2e2626;
  /*background: linear-gradient(#000000, #490505);*/
}

h2 {
  text-align: center;
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: #34c9e7;
}

p {
  color: #ffffff;
}

img {
  margin: 0 auto 60px auto;
  width: 300px;
  display: flex;
}

.book_name {
  display: block;
  width: 400px;
  margin: 40px auto 20px auto;
}

.book_link {
  display: block;
  width: 300px;
  margin: auto;
}

.books {
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.book_title {
  font-family: "Gentium Book Basic", serif;
  text-align: center;
  font-size: 50px;
  margin: 10px auto 30px auto;
  color: #e7db34;
}

.events {
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 840px;
  margin: 0 auto;
}

.contact_link {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  text-align: left;
  color: #34c9e7;
  text-decoration: none;
  margin-left: 5%;
  width: 150px;
  padding: 10px;
}

.boxname {
  font-weight: bold;
  color: #e4e4e4;
}

.box {
  width: 300px;
  margin: 30px auto 40px auto;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  background-color: #e4e4e4;
  border-color: #c8c8c8;
}

#search {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  background-color: #d1c521;
  border-color: #e7db34;
  border-radius: 10px;
  padding: 10px;
  width: 100px;
  margin-left: 10px;
}

.box, .contact_link {
  display: flex;
  flex-direction: column;
}

.box, #search {
  display: inline-block;
}

/*
#previous, #next {
  font-weight: bold;
  color: #000000;
  background-color: #d1c521;
  border-color: #e7db34;
  border-radius: 5px;
  width: 80px;
  margin-top: 30px;
}
*/