/*
  Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital@0;1&display=swap');

body {
  background-color: #2e2626;
  /*background: linear-gradient(#000000, #490505);*/
}

h2 {
  text-align: center;
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: #34c9e7;
}

p {
  color: #ffffff;
}

img {
  margin: 0 auto 60px auto;
  width: 300px;
  display: flex;
}

.books {
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.book_title {
  font-family: "Gentium Book Basic", serif;
  text-align: center;
  font-size: 50px;
  margin: 10px auto 30px auto;
  color: #e7db34;
}

.contact_link {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  color: #34c9e7;
  text-decoration: none;
}

#previous, #next {
  font-weight: bold;
  color: #000000;
  background-color: #d1c521;
  border-color: #e7db34;
  border-radius: 5px;
  width: 80px;
  margin-top: 30px;
}

.boxname {
  font-weight: bold;
  color: #e4e4e4;
}

.box {
  border-radius: 5px;
  background-color: #e4e4e4;
  border-color: #ffffff;
}

#search {
  font-weight: bold;
  color: #000000;
  background-color: #d1c521;
  border-color: #e7db34;
  border-radius: 5px;
  width: 50px;
}